<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/devisenotify' %>

  <div class="field">
    <%= f.text_field :fullname, autofocus: true, :class => "form-control", :placeholder => "Full Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
  </div>

  <div class="field">
    <%= f.text_field :phone_number, autofocus: true, :class => "form-control", :placeholder => "Phone Number" %>
  </div>

  <div class="field">
    <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, :class => "form-control", :placeholder => "Tell us about yourself" %>
  </div>

  <div class="field">
    <%= f.text_area :interest, rows: 5, cols: 25, autofocus: true, :class => "form-control", :placeholder => "What are your interests?" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (Leave blank if you don't want to change it)", :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password to confirm change", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
